extends layouts/admin.layout.pug

block content
  .container-admin.mt-1
    h2.mt-1.mb-1.green-text Edit profile
    p.separator Fill the inputs to change your info
    //- Flash messages
    include partials/flash-messages.partials.pug
    //- Flash messages
    .form-container
      form(method="POST" action="/edit-profile")
        .input.separator
          label(for="firstName") First name:
          input.input-title.input-create-recipe(
            type="text",
            placeholder="First name"
            name="firstName"
            value=user.firstName
          )

        .input.separator
          label(for="lastName") Last name:
          input.input-title.input-create-recipe(
            type="text",
            placeholder="Last name"
            name="lastName"
            value=user.lastName
          )

        .input.separator
          label(for="email") Email:
          input.input-title.input-create-recipe(
            type="email",
            placeholder="Email"
            name="email"
            value=user.email
          )

        .input.separator
          label(for="password") Password:
          input.input-title.input-create-recipe(
            type="password",
            placeholder="New password"
            name="password"
          )

        .text-center
          input.btn.green-btn.mt-1(type="submit", value="Update profile")
