extends layouts/main.layout.pug

block content
  main.mt-1
    article.individual-article
      //- pre
      //-     #{recipe.ingredientsList}
      h3.text-center.green-text.mb-1 Search results for: #[span.brown-text #{term}]
      .search-container
        each searchResult in searchResults
          article.search-result.mb-1
            a(href=`/recipes/${searchResult.id}`)
              img(src=`/uploads/thumbnails/${searchResult.thumbnail}`, alt=searchResult.title)
            a(href=`/recipes/${searchResult.id}`) #[h3.mt-1 #{searchResult.title}]


block scripts
  script(src='//cdn.jsdelivr.net/npm/sweetalert2@11')
  script(src="/js/likes.js") 