extends layouts/main.layout.pug

block content
  main.mt-1
    article.individual-article
      //- pre
      //-     #{recipe.ingredientsList}

      .image-article
        img(src=`/uploads/thumbnails/${recipe.thumbnail}`, alt=recipe.title)
        h1.mt-1.green-text #{ recipe.title }

      .publication-info.mt-1.mb-1
        p.item-publication-info By: #{recipe.user.firstName} #{recipe.user.lastName}
        p.item-publication-info Published: #{ date }

      .recipe-details
        .part-1
          h4.mb-1.mt-1.btn.green-btn Recipe details
          ul
            li.before-clock #{ recipe.minutes } minutes
            li.before-users #{ recipe.servings } servings
            li.before-ingredients #{ recipe.ingredients } ingredients
        .part-2
          h4.mb-1.mt-1.btn.brown-btn Ingredient list
          .ingredientsList
            | !{ recipe.ingredientsList }

      .instructions.mt-1
        h4.text-center.btn.green-btn Instructions
        | !{ recipe.instructions }
        //- ol
        //-   li Lorem ipsum dolor sit amet, consectetur adipisicing elit. Molestias delectus autem molestiae quod tempore? Amet laudantium ut quidem expedita unde, neque voluptates laborum illo ad sed explicabo voluptatem hic ullam!
        //-   li Lorem ipsum dolor sit amet consectetur adipisicing elit. Excepturi perspiciatis velit iste exercitationem nostrum iusto impedit error nisi iure ut ratione assumenda delectus pariatur, eum cum, eveniet ullam aspernatur vitae.
        //-   li Lorem ipsum dolor, sit amet consectetur adipisicing elit. Libero molestias non recusandae? Commodi pariatur totam laborum eaque labore, facilis quibusdam, rem numquam obcaecati deleniti doloribus consectetur voluptas fugit odio. Ea!

      .do-you-like.mt-1.mb-1
        h4 Do you like this recipe?
        .like-counter
          .heart
            i.fa-solid.fa-heart(data-recipe-id=`${recipe.id}`)
          span#likesCounter 0

      .more-similar
        h4.mb-1 More recipes similar from the community:
        .similar-articles
          a.art-container(href='/') 
            article.art-list
              img(src='/img/uploads/recipe-img/recipe.jpg', alt='')
              h5 This is a test

          a.art-container(href='/') 
            article.art-list
              img(src='/img/uploads/recipe-img/recipe.jpg', alt='')
              h5 This is a test

          a.art-container(href='/') 
            article.art-list
              img(src='/img/uploads/recipe-img/recipe.jpg', alt='')
              h5 This is a test

          a.art-container(href='/') 
            article.art-list
              img(src='/img/uploads/recipe-img/recipe.jpg', alt='')
              h5 This is a test hello world hello hello bye

block scripts
  script(src='//cdn.jsdelivr.net/npm/sweetalert2@11')
  script(src="/js/likes.js") 